fastapi==0.141.1
uvicorn==0.53.0
python-multipart==0.0.32
python-dotenv==1.2.3
google-genai==2.24.0
requests==2.34.2
numpy==2.5.3
pillow==12.3.0

--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.14.0+cpu
torchvision==0.29.0+cpu

ultralytics==8.4.155

SQLAlchemy==2.0.44
passlib==1.7.4
bcrypt==4.0.1
python-jose[cryptography]==3.5.0
email-validator==2.3.0